<!-- start table-->
<div th:if="${not #lists.isEmpty(taskDtoList)}">
    <div id="task-container" class="card container"
         style="margin-top:1%; margin-bottom:1%; width: 60%; height:60%; border: none; padding-bottom:2%">
        <div th:each="taskDto, iterStat : ${taskDtoList}">
            <div class="card-body" style="margin-bottom: 8px; margin-bottom: 4px;">
                <div id="accordion">
                    <div th:id="'card-' + ${taskDto.id}" class="card" style="margin-bottom: -4%;">
                        <div th:id="'heading' + ${iterStat.index}" class="card-header"
                             style="display: flex; justify-content: space-between; text-align: left;">
                            <div class="col-sm">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                            th:data-target="'#collapse' + ${iterStat.index}"
                                            aria-expanded="false" aria-controls="'collapse' + ${iterStat.index}">
                                        <span th:text="${taskDto.title}"></span>
                                    </button>
                                </h5>
                            </div>
                            <div class="col col-lg-5">
                                <div class="row">
                                    <div class="col">
                                            <span th:text="${taskDto.priority}"
                                                  th:class="${taskDto.priorityClass}"></span>
                                    </div>
                                    <div class="col">
                                            <span th:text="${taskDto.status.name()}"
                                                  th:class="${taskDto.statusClass}"></span>
                                    </div>
                                    <div class="col">
                                        <form th:action="@{/edit-task/{id}(id=${taskDto.id})}" method="get" style="display:inline;">
                                            <button class="btn btn-primary" type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                </svg>
                                            </button>
                                        </form>
                                        <button type="button" class="btn btn-danger btn-delete"
                                                th:attr="hx-delete=@{/delete-task/{id}(id=${taskDto.id})},hx-target=|#task-container|"
                                                hx-trigger="click"
                                                hx-swap="outerHTML">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:id="'collapse' + ${iterStat.index}" class="collapse"
                             aria-labelledby="'heading' + ${iterStat.index}" data-parent="#accordion">
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                                    <span><b>Created on:</b> <span
                                            th:text="${taskDto.createdOn}"></span></span><br>
                                    <span><b>Edited on:</b> <span
                                            th:text="${taskDto.updatedOn}"></span></span><br>
                                    <span><b>Expires in:</b> <span
                                            th:text="${taskDto.expireOn}"></span></span><br>
                                </div>
                                <div style="text-align: justify;">
                                    <p th:text="${taskDto.description}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!-- start pagination -->
            <div class="container text-center" style="padding-top:5%">
                <nav aria-label="Page navigation example" class="text-center">
                    <div th:if="${totalPages > 1}" class="container text-center justify-content-center">
                        <div class="container" style="width: 100%;">
                            <ul class="pagination justify-content-center" style="background: white;">
                                <li class="page-item" style="padding-right: 20px;">
                                    <strong>Total:</strong> [[${totalItems}]]
                                </li>
                                <li class="page-item" style="padding-right: 20px;"
                                    th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}"
                                       th:attr="hx-get=@{'/page/' + ${i}}, hx-trigger='click', hx-swap='outerHTML', hx-target='#task-container'">[[${i}]]</a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                                </li>
                                <li class="page-item" style="padding-right: 20px;">
                                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}"
                                       th:attr="hx-get=@{'/page/' + ${currentPage + 1}}, hx-trigger='click', hx-swap='outerHTML', hx-target='#task-container'">Próximo</a>
                                    <span th:unless="${currentPage < totalPages}">Próximo</span>
                                </li>
                                <li class="page-item" style="padding-right: 20px;">
                                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}"
                                       th:attr="hx-get=@{'/page/' + ${totalPages}}, hx-trigger='click', hx-swap='outerHTML', hx-target='#task-container'">Último</a>
                                    <span th:unless="${currentPage < totalPages}">Último</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- end pagination -->
        </div>
    </div>
</div>
<!-- end table -->